@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --FF: 'Nunito Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --FS: clamp(0.8rem, 2.5vw, 1.6rem);
    --SCORE-FS: clamp(1rem, 2.7vw, 2rem);
    --BG-COLOR: #f4f4f4;
    --START-BTN-BG: green;
    --START-BTN-HVR: rgb(0, 255, 0);
    --START-OVER-BTN-BG: blue;
    --START-OVER-BTN-HVR: rgb(41, 105, 255);
    --SHADOW-EFFECT: 0px 2px 3px #d6fd68;
    /* --SHADOW-EFFECT: 0px 2px 3px orangered; */
}


body {
    font-family: var(--FF);
    text-align: center;
    padding: 20px;
    background-color: var(--BG-COLOR);
    display: grid;
    place-content: center;
    font-size: var(--FS);
    min-height: 100vh;
    background-image: url("../images/bg-illustration.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.welcome {
    margin-bottom: 100px;
    text-shadow: var(--SHADOW-EFFECT);
}

.score {
    position: absolute;
    right: 25px;
    top: 25px;
    font-weight: 600;
    text-shadow: var(--SHADOW-EFFECT);
    font-size: var(--SCORE-FS);
}

.container {
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    box-shadow: var(--SHADOW-EFFECT);
}

button {
    font-size: inherit;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    color: white;
}

.start-btn {
    background-color: var(--START-BTN-BG);
}

.start-btn:is(:hover, :focus) {
    background-color: var(--START-BTN-HVR);
}

.start-over {
    background-color: var(--START-OVER-BTN-BG);
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
}

.start-over:is(:hover, :focus) {
    background-color: var(--START-OVER-BTN-HVR);
}

@media screen  and (max-width: 576px) {
    .start-over {
        bottom: 60px;
    }
}